.wrapper {
    width: 768px;
    margin: 0 auto;
}

.header {
    margin: 20px auto;
    text-align: center;
}

.label {
    color: #000;
    font-size: 14px;
    text-align: left;
}

.btn {
    margin: 20px auto;
}
