body {
    font-family: Arial, Helvetica CY, Nimbus Sans L, sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    padding: 17px 45px 0;
    width: 910px;
}

.contacts {
    color: #5e696d;
    font-size: 18px;
    /*letter-spacing: 0.45px;*/
    line-height: 28px;
    text-align: center;
}

.phone {
    border-radius: 50%;
    background: -webkit-linear-gradient(90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -moz-linear-gradient(90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -o-linear-gradient(90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -ms-linear-gradient(90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: linear-gradient(0deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    width: 22px;
    height: 21px;
}

.login-form {
    display: inline-block;
    background: -webkit-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -moz-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -o-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -ms-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
    width: 496px;
    height: 27px;
    border-radius: 4px;
    line-height: 27px;
    font-size: 11px;
}

.login-form input {
    border: 1px solid #9ba1a3;
    width: 113px;
    height: 16px;
    color: #97a2a6;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}

.sign-in,
.sign-up {
    color:  #ffffff;
}

.forgot-password {
    text-decoration: underline;
    color: #bfbfbf;
}

.navigation-top {
    display: inline-block;
    width: 76px;
    height: 21px;
    border: 1px solid #bdc4c7;
    border-radius: 10px;
}

.logo {
    width: 910px;
    height: 237px;
}

.bar-top {
    border: 1px solid #0d1642;
    background: -webkit-linear-gradient(90deg, #000000 0%, #4c535a 87%, #576068 100%);
    background: -moz-linear-gradient(90deg, #000000 0%, #4c535a 87%, #576068 100%);
    background: -o-linear-gradient(90deg, #000000 0%, #4c535a 87%, #576068 100%);
    background: -ms-linear-gradient(90deg, #000000 0%, #4c535a 87%, #576068 100%);
    background: linear-gradient(0deg, #000000 0%, #4c535a 87%, #576068 100%);
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    width: 910px;
    height: 33px;
    border-radius: 5px;
}

.menu li {
    display: inline-block;
}

.menu-top {
    display: inline-block;
    font-size: 14px;
}

.menu-top li a {
    display: block;
    height: 26px;
    padding-left: 22px;
    padding-right: 22px;
    line-height: 26px;
    color: #b1bcc0;
    text-transform: uppercase;
}

.menu-top li a:hover {
    background: -webkit-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -moz-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -o-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -ms-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    color: #fff;
    border-radius: 10px;
}

.order-details {
    color:  #929b9f;
    font-size: 11px;
    /*letter-spacing: 0.44px;*/
}

.order-totals {
    color:  #0d5a8f;
    font-size: 12px;
    /*letter-spacing: 0.48px;*/
}

.search {
    position: relative;
}

.search h2 {
    color:  #154467;
    font-size: 12px;
    font-weight: bold;
    /*letter-spacing: 0.3px;*/
    /*line-height: 28px;*/
    text-align: left;
    position: absolute;
}

.search-auto h2 {
    text-align: center;
}

.search-auto h3 {
    color:  #154468;
    font-size: 10px;
    font-weight: bold;
    /*letter-spacing: 0.25px;*/
}

.search-auto select {
    width: 101px;
}

.search-auto .select-year {
    width: 58px;
}

.select-brands-button {
    border: 1px solid #a7abae;
    background: -webkit-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -moz-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -o-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: -ms-linear-gradient(-90deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    width: 80px;
    height: 26px;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: Arial, Helvetica CY, Nimbus Sans L, sans-serif;
    color:  #e5e9ea;
    font-size: 11px;
}



.products {
    font-family: 'Lucida Sans Unicode';
    width: 527px;
    height: 628px;
    background: -webkit-linear-gradient(90deg, rgba(35, 75, 93, 0.49) 0%, rgba(129, 150, 159, 0.49) 57%, rgba(201, 207, 209, 0.49) 100%);
    background: -moz-linear-gradient(90deg, rgba(35, 75, 93, 0.49) 0%, rgba(129, 150, 159, 0.49) 57%, rgba(201, 207, 209, 0.49) 100%);
    background: -o-linear-gradient(90deg, rgba(35, 75, 93, 0.49) 0%, rgba(129, 150, 159, 0.49) 57%, rgba(201, 207, 209, 0.49) 100%);
    background: -ms-linear-gradient(90deg, rgba(35, 75, 93, 0.49) 0%, rgba(129, 150, 159, 0.49) 57%, rgba(201, 207, 209, 0.49) 100%);
    background: linear-gradient(0deg, rgba(35, 75, 93, 0.49) 0%, rgba(129, 150, 159, 0.49) 57%, rgba(201, 207, 209, 0.49) 100%);
}

.product {
    width: 140px;
}

.product h2 {
    color:  #206988;
    font-size: 15px;
    text-align: center;
}

.product h3 {
    color:  #1f2528;
    font-size: 13px;
    text-align: center;
}

.product figure {
    border-radius: 7px;
    border: 1px solid #a4aeb1;
    width: 138px;
    height: 127px;
    background: #fff;
}

.product figure img {
    display: block;
    margin: 4px auto;
}

.product figure figcaption {
    font-family: Arial, Helvetica CY, Nimbus Sans L, sans-serif;
    color: #114165;
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

footer {
    font-family: Arial, Helvetica CY, Nimbus Sans L, sans-serif;
    height: 100px;
    border: 1px solid #242a3c;
    background-color: #213a4d;
    text-align: center;
}

.menu-bottom li a {
    color: #bec6c9;
    font-size: 12px;
}

.menu-bottom li a:hover {
    color: #52accb;
}

.menu-bottom li a::after {
    content: '|';
    color: #bec6c9;
}

.menu-bottom li:last-child a::after {
    content: '';
}

.copyright {
    color: #7f4740;
    font-size: 10px;
    /*letter-spacing: 0.25px;*/
    /*line-height: 18px;*/
    text-align: center;
}