table {
    width: 770px;
    border-collapse: collapse;
}

td {
    width: 80px;
    border: 20px solid #000;
}

td:first-child {
    border-left: 1px solid #000;
}

td:last-child {
    border-right: 1px solid #000;
}

tr:first-child td {
    border-top: 1px solid #000;
}

tr:last-child td {
    border-bottom: 1px solid #000;
}

tr {
    height: 100px;
}

.dark-grey {
    background-color: #222;
}

.blue {
    background-color: #00f;
}

.red {
    background-color: #f00;
}

.yellow {
    background-color: #ff0;
}