table {
    width: 770px;
    border-collapse: collapse;
}

td {
    width: 80px;
    border: 20px solid #000;
}

tr {
    height: 100px;
}

.dark-grey {
    background-color: #222;
}

.blue {
    background-color: #00f;
}

.red {
    background-color: #f00;
}

.yellow {
    background-color: #ff0;
}
