table {
    border-collapse: collapse;
    width: 750px;
}

td {
    width: 80px;
    border: 20px solid #000;
}

tr {
    height: 100px;
}

.black {
    background-color: #000;
}

.blue {
    background-color: #00f;
}

.red {
    background-color: #f00;
}

.yellow {
    background-color: #ff0;
}