.uppercase {
    text-transform: uppercase;
}

.menu__top {
    float: right;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    display: block;
    text-transform: uppercase;
}

.main__header {

}

.main__subheader {

}

.main__text {

}

.slider ul li {
    display: inline-block;
}

article {

}

.article__header {
    text-transform: uppercase;
}

.article__text {

}

.read-more {
    text-transform: uppercase;
}

.testimonials__header {
    text-transform: uppercase;
}

.testimonials b {
    color: pink;
}

.updates__header {
    text-transform: uppercase;
}

.info-bottom .copyright {

}

.info-bottom text {

}

.recent-comments h1 {
    text-transform: uppercase;
}

.design {
    float: right;
}