@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/league_gothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/league_gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/league_gothic/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/league_gothic/leaguegothic-regular-webfont.woff') format('woff'),
    url('../fonts/league_gothic/leaguegothic-regular-webfont.ttf') format('truetype'),
    url('../fonts/league_gothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open_sans/light/open-sans-light.eot');
    src: url('../fonts/open_sans/light/open-sans-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/light/open-sans-light.woff2') format('woff2'),
    url('../fonts/open_sans/light/open-sans-light.woff') format('woff'),
    url('../fonts/open_sans/light/open-sans-light.ttf') format('truetype'),
    url('../fonts/open_sans/light/open-sans-light.svg#webfontregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open_sans/bold/opensans-extrabold.eot');
    src: url('../fonts/open_sans/bold/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans/bold/opensans-extrabold.woff2') format('woff2'),
    url('../fonts/open_sans/bold/opensans-extrabold.woff') format('woff'),
    url('../fonts/open_sans/bold/opensans-extrabold.ttf') format('truetype'),
    url('../fonts/open_sans/bold/opensans-extrabold.svg#open_sansextrabold') format('svg');
    font-weight: bold;
}

html * {
    font-family: "LeagueGothic", Arial, sans-serif;
}

.text {
    font-family: "Open Sans Light", Arial, sans-serif;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.content {
    min-width: 280px;
    max-width: 960px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.column {
    float: left;
}

.wrapper__header {
    background: url('../img/background.jpg') top center no-repeat;
    background-size: cover;
}

header {
    padding-top: 70px;
    padding-bottom: 164px;
}

.logo {
    font-size: 48px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.logo--top {
    float: left;
}

.logo--light {
    color: #fff;
}

.logo--pink {
    background: -webkit-linear-gradient(135deg, #745083 0%, #33263a 100%);
    background: -moz-linear-gradient(135deg, #745083 0%, #33263a 100%);
    background: -o-linear-gradient(135deg, #745083 0%, #33263a 100%);
    background: -ms-linear-gradient(135deg, #745083 0%, #33263a 100%);
    background: linear-gradient(135deg, #745083 0%, #33263a 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: normal;
    text-shadow: none;
}

.menu--top {
    float: right;
}

.menu__item {
    display: inline-block;
    padding-left: 44px;
}

.menu__link {
    display: block;
    position: relative;
    padding-left: 5px;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    text-transform: uppercase;
}

.menu__link:hover:after {
    display: block;
    position: absolute;
    top: 34px;
    left: 0;
    width: calc(100% + 5px);
    height: 2px;
    background: url('../img/menu_hover.jpg') repeat-x;
    content: '';
}

.wrapper__main {
    background-color: rgba(0, 0, 0, .2);
}

main {
    height: 400px;
}

.main__description {
    width: 50%;
    padding-top: 79px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.main__header {
    color: #fefefe;
    font-size: 59px;
}

.main__sub-header {
    margin-top: -2px;
    margin-bottom: 3px;
    color: #eebfff;
    font-size: 32px;
    line-height: 36px;
}

.main__text {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.play-song {
    display: inline-block;
    position: relative;
    width: 266px;
    margin-top: -17px;
    float: right;
    z-index: 10;
}

.play-song__play {
    position: absolute;
    top: 150px;
    left: 60px;
}

.play-song:before {
    display: block;
    position: absolute;
    top: 78px;
    left: -77px;
    width: 100px;
    height: 268px;
    background: url('../img/iphone4_blur.png') no-repeat;
    content: '';
    z-index: -10;
}

.play-song__img {
    width: 197px;
    height: 434px;
}

.header__slider {
    display: inline-block;
    position: relative;
    top: 93px;
    left: 73.7%;
    height: 168px;
}

.slider__item {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-left: 3px;
    background: url('../img/slider_dark.png');
    cursor: pointer;
}

.slider__item:hover {
    background: url('../img/slider_dark.png') 20px 0;
}

.slider__item--selected {
    background: url('../img/slider_dark.png') 20px 0;
}

.wrapper__articles {
    padding-top: 76px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
    background: -webkit-linear-gradient(180deg, #745083 0%, #322539 100%);
    background: -moz-linear-gradient(180deg, #745083 0%, #322539 100%);
    background: -o-linear-gradient(180deg, #745083 0%, #322539 100%);
    background: -ms-linear-gradient(180deg, #745083 0%, #322539 100%);
    background: linear-gradient(180deg, #745083 0%, #322539 100%);
}

article {
    position: relative;
    width: 29.5%;
    margin-right: 5.7%;
    margin-bottom: 68px;
    padding-left: 65px;
    float: left;
    text-shadow: 0 1px 0 #0f1518;
    box-sizing: border-box;
}

article:last-child {
    margin-right: 0;
}

article:before {
    display: block;
    position: absolute;
    top: 6px;
    left: 12px;
    width: 29px;
    height: 27px;
    content: '';
}

.article__settings:before {
    background: url('../img/icons.png');
}

.article__dialog:before {
    background: url('../img/icons.png') 57px 0;
}

.article__music:before {
    background: url('../img/icons.png') 27px 0;
}

.article__header {
    margin-bottom: 8px;
    color: #fff;
    font-size: 30px;
}

.article__text {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.read-more {
    margin-top: 19px;
    float: right;
}

.read-more__link {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.read-more__link:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, .8);
}

.wrapper__updates {
    padding-top: 96px;
    padding-bottom: 79px;
    border-top: 1px solid #0d151b;
    border-bottom: 1px solid #e6e6e6;
    background: #f9f9f9;
    overflow: hidden;
}

.testimonials {
    position: relative;
    width: 44.5%;
    margin-left: 2.6%;
    padding: 30px 38px;
    background: url('../img/background_testimonials.png') no-repeat;
    text-shadow: 0 1px 0 #fff;
    box-sizing: border-box;
}

.testimonials:before {
    display: block;
    position: absolute;
    top: 19px;
    left: -23px;
    width: 49px;
    height: 49px;
    content: url('../img/testimonial_photo.png');
}

.testimonials__header {
    margin-bottom: 9px;
    color: #454545;
    font-size: 30px;
}

.testimonials__header--pink {
    color: #edbfff;
}

.testimonials__text {
    max-height: 192px;
    color: #454545;
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.testimonials__slider {
    position: relative;
    top: 38px;
    left: 37%;
}

.slider__item--light {
    background: url('../img/slider_light.png');
}

.slider__item--light:hover {
    background: url('../img/slider_light.png') 20px 0;
}

.slider__item--light--selected {
    background: url('../img/slider_light.png') 20px 0;
}

.updates {
    width: 45.8%;
    margin-left: 6.25%;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    box-sizing: border-box;
}

.updates__header {
    margin-top: 30px;
    margin-bottom: 16px;
    color: #454545;
    font-size: 30px;
}

.updates__sub-header {
    color: #454545;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.updates__text {
    color: #454545;
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.updates__update {
    position: relative;
    width: 86%;
    margin-bottom: 18px;
    margin-left: 66px;
    box-sizing: border-box;
}

.updates__update3 {
    margin-bottom: 0;
}

.updates__update:before {
    display: block;
    position: absolute;
    top: 0;
    left: -65px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    /* FIXME: http://css3pie.com/ */
    content: '';
}

.updates__update1:before {
    background: url('../img/updates/update_post_1.jpg');
}

.updates__update2:before {
    background: url('../img/updates/update_post_2.jpg');
}

.updates__update3:before {
    background: url('../img/updates/update_post_3.jpg');
}

.updates__read-more {
    margin-right: 11px;
}

.read-more__link--dark {
    color: #454545;
}

.read-more__link--dark:hover {
    text-shadow: 0 0 8px rgba(69, 69, 69, .8);
}

.wrapper__logos {
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
}

.logos {
    text-align: center;
}

.logos__item {
    display: inline-block;
    height: 64px;
    margin: 25px 2.7% 29px 3.6%;
    line-height: 64px;
    vertical-align: middle;
    box-sizing: border-box;
}

.wrapper__info-bottom {
    padding-top: 97px;
    padding-bottom: 16px;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    background: #ececec;
    text-shadow: 0 1px 0 #fff;
}

.wrapper__info-bottom .column {
    width: 29.5%;
    margin-right: 5.7%;
    margin-bottom: 50px;
}

.wrapper__info-bottom .column:last-child {
    margin-right: 0;
}

.logo--dark {
    color: #454545;
    text-shadow: 0 1px 0 #fff;
}

.logo--grey {
    color: #b9b9b9;
    font-weight: normal;
}

.copyright {
    margin-top: 14px;
    margin-bottom: 10px;
    color: #c5c5c5;
    font-family: Georgia, serif;
    font-size: 16px;
    font-style: italic;
}

.info-bottom__header {
    margin-bottom: 10px;
    color: #454444;
    font-size: 30px;
}

.info-bottom__text {
    color: #787878;
    font-size: 16px;
    line-height: 24px;
}

.wrapper__footer {
    padding-top: 36px;
    padding-bottom: 29px;
    border-top: 1px solid #d8d8d8;
    background: url('../img/background_footer.jpg') top center no-repeat;
    background-size: cover;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
}

.menu--bottom {
    float: left;
}

.menu--bottom .menu__item {
    padding-right: 35px;
    padding-left: 0;
}

.menu--bottom .menu__link {
    font-size: 20px;
}

.design {
    float: right;
    color: #fff;
    font-size: 12px;
    line-height: 48px;
}

.design--bold {
    font-weight: bold;
}

@media (max-width: 959px) {
    .logo--top {
        float: none;
    }

    .menu--top {
        margin-top: 39px;
        float: none;
    }

    .menu__item {
        padding-right: 44px;
        padding-left: 0;
    }

    header {
        padding-bottom: 85px;
    }

    .main__header {
        font-size: 48px;
    }

    .main__sub-header {
        font-size: 24px;
    }

    .main__text {
        font-size: 16px;
    }

    .header__slider {
        top: 40px;
    }


    .info-bottom__header {
        font-size: 24px;
    }

    .menu--bottom {
        float: none;
    }
}

@media (max-width: 767px) {
    .hide-less-768 {
        display: none;
    }

    .column {
        width: 100% !important;
    }

    header {
        height: 97px;
        padding-bottom: 60px;
    }

    .menu--top,
    .logo--top {
        display: block;
        width: 244px;
        margin: 0 auto;
        text-align: center;
    }

    .menu--top {
        position: relative;
        height: 47px;
        margin-top: 18px;
        padding: 0;
        overflow: hidden;
    }

    .menu--top:hover {
        height: 257px;
        transition: .5s all;
        border: 1px solid #051116;
        border-radius: 8px;
        background: rgba(54, 41, 62, .9);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
        z-index: 20;
    }

    .menu--top:hover .menu__item {
        border-top: 1px solid #513e58;
        border-bottom: 1px solid #37293f;
    }

    .menu--top .menu__item {
        display: block;
        width: 100%;
    }

    .menu--top .menu__link {
        padding: 0;
        line-height: 41px;
    }

    .menu--top .menu__link:hover:after {
        top: 41px;
    }

    main {
        height: 246px;
    }

    .main__description {
        width: 60%;
    }

    .main__header {
        font-size: 36px;
    }

    .main__sub-header {
        font-size: 18px;
    }

    .play-song {
        width: 30%;
    }

    .play-song__img {
        width: 132px;
        height: 304px;
    }

    .play-song:before {
        top: 52px;
        left: -51px;
        width: 85px;
        height: 190px;
        background-size: 85px, 190px;
    }

    .play-song__play {
        top: 103px;
        left: 42px;
    }

    .play-song__play__img {
        width: 53px;
        height: 53px;
    }

    .header__slider {
        display: block;
        position: inherit;
        width: 100px;
        height: auto;
        margin: 22px auto 0;
        padding-bottom: 40px;
    }

    .article__header {
        font-size: 24px;
    }

    .wrapper__updates .column {
        width: 95% !important;
    }

    .testimonials__header {
        font-size: 24px;
    }

    .testimonials {
        margin-bottom: 50px;
        background-size: 100% 100%;
    }

    .testimonials__slider {
        top: 60px;
    }

    .updates__update {
        width: 80%;
    }

    .logos__item {
        margin-right: 6%;
        margin-left: 6%;
    }

    .menu--bottom {
        float: none;
        text-align: center;
    }

    .menu--bottom .menu__item {
        padding-right: 3.3%;
        box-sizing: border-box;
    }


    .design {
        float: none;
        text-align: center;
    }
}

@media (max-width: 479px) {
    .hide-less-480 {
        display: none;
    }

    .wrapper__main {
        background: none;
    }

    main {
        height: 206px;
    }

    .main__description {
        width: 100%;
        text-align: center;
    }

    .main__sub-header {
        padding-left: 47px;
    }

    .updates__update {
        width: 75%;
    }
}
