<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">

    <script data-main="js/main" src="lib/require/require.js"></script>
</head>
<body>
    <script type="text/html" id="wrapper_template">
        <div class="wrapper">
            <h1 class="header">To Do list</h1>
            <ul class="list"></ul>

            <div class="controls">
                <input type="text" class="controls__value">
                <button type="button" class="controls__add">Add</button>
                <button type="button" class="controls__ok">Ok</button>
            </div>
        </div>
    </script>

    <script type="text/html" id="list_template">
        <% for (var i = 0; i < data.length; i++) { %>
            <li class="list__item">
                <%= data[i] %>
                <span data-value="<%= data[i] %>" class="list__edit">&#9998;</span>
                <span data-value="<%= data[i] %>" class="list__delete">&#x2717;</span>
            </li>
        <% } %>
    </script>
</body>
</html>