body {
    background: rgb(12, 115, 158) url('../img/background.jpg') top repeat-x;
    font-family: Tahoma, Arial, sans-serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, .75);
    overflow: hidden;
}

a {
    text-decoration: none;
}

header,
header a {
    color: #128aa7;
}

.logo {
    padding-top: 11px;
    padding-left: 25px;
    float: left;
}

.logo a {
    display: block;
    width: 283px;
    height: 69px;
    padding-top: 95px;
    background: url('../img/logo.png') top no-repeat;
    font-size: 12px;
    text-align: center;
}

.logo-description {
    font-size: 10px;
}

.contacts {
    margin-top: 11px;
    margin-right: 20px;
    float: right;
    text-align: left;
}

.contact-us {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
}

.phone-email {
    font-size: 12px;
    line-height: 15px;
}

.country-list {
    margin-top: 35px;
    float: right;
    clear: right;
    font-size: 10px;
    text-align: center;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.country-list li {
    display: inline-block;
    padding-right: 15px;
    text-decoration: underline;
}

.main-picture {
    height: 237px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}

.top-menu {
    position: relative;
    height: 27px;
    margin-top: 1px;
    padding-left: 25px;
    border-bottom: 1px solid #000;
    background: -webkit-linear-gradient(90deg, #373737 0%, #303030 100%);
    background: -moz-linear-gradient(90deg, #373737 0%, #303030 100%);
    background: -o-linear-gradient(90deg, #373737 0%, #303030 100%);
    background: -ms-linear-gradient(90deg, #373737 0%, #303030 100%);
    background: linear-gradient(0deg, #373737 0%, #303030 100%);
    color: rgba(255, 255, 255, .8);
    line-height: 27px;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .75);
    z-index: 10;
}

.menu > li {
    position: relative;
    float: left;
}

.menu > li > a {
    display: block;
    height: 26px;
    padding-right: 20px;
    padding-left: 40px;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
}

.dropdown-menu > a::after {
    display: inline;
    padding-left: 8px;
    content: url('../img/dropdown.png');
}

.menu > li:hover > .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 28px;
    left: 30px;
    background-color: #303030;
    font-size: 14px;
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, .75);
}

.sub-menu > li > a {
    display: block;
    width: 100%;
    padding-right: 50px;
    padding-left: 10px;
    color: rgba(255, 255, 255, .8);
}

.column-background {
    width: 100%;
    float: left;
}

.background-info {
    position: relative;
    right: 582px;
    background-color: #edeef0;
}

.background-main {
    position: relative;
    right: 209px;
    background-color: #fff;
}

.background-news {
    background-color: #edeef0;
}

.column {
    position: relative;
    left: 791px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
    float: left;
    color: #424c43;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    z-index: 5;
}

.column .info,
.column .news {
    width: 170px;
}

.column .main-content {
    width: 543px;
}

.column h2 {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

.column p {
    padding-top: 10px;
}

footer {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
    text-align: center;
}
