.registration__register,
.header__button,
.about__section,
.about__step,
.carousel,
.partners__img,
.partners__icon,
.partners__icon:before,
.partners__button,
.ideas__img {
    behavior: url(dist/fix/PIE.htc);
}

.ideas__img {
    width: auto;
    height: auto;
}

.ideas__item {
    overflow: hidden;
}