.wrapper {
  color: $text-color;
  font-family: Montserrat, Arial, sans-serif;
}

.content {
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;

  &__title {
    margin: 38px 0 15px;
    color: $text-dark;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.wrapper__header {
  padding-top: 20px;
  background: url('../img/background_header.jpg') center no-repeat;
  text-align: center;
  min-height: 540px;
}

.registration {
  line-height: 36px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  &__login {
    display: inline-block;
    width: 90px;
    color: $text-color;
  }

  &__register {
    display: inline-block;
    width: 90px;
    border: 2px solid $text-color;
    border-radius: 20px;
    color: $text-color;
  }
}

.logo {
  margin-top: 115px;
  text-align: center;

  &__link {
    color: $text-color;
    font-size: 20px;
    font-weight: bold;
  }

  &--red {
    color: $action-red;
  }
}

.header {
  &__title {
    margin: 38px 0 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
  }

  &__proceed {
    margin-top: 20px;
  }

  &__button {
    width: 280px;
    height: 40px;
    background-color: $action-red;
    border: none;
    border-radius: 20px;
    color: $text-color;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
}

.about,
.partners,
.ideas {
  padding: 10px;
}

.about {
  &__section {
    float: left;
    height: 238px;
    margin-top: 10px;
    padding-left: 20px;
    background-size: cover;
    border-radius: 4px;
    box-sizing: border-box;

    &--step1 {
      background: url('../img/about/step1.jpg') center;
    }

    &--step2 {
      background: url('../img/about/step2.jpg') center;
    }

    &--step3 {
      background: url('../img/about/step3.jpg') center;
    }
  }

  &__step {
    margin: 75px 0 20px;
    width: 70px;
    height: 20px;
    background: $action-red;
    border-radius: 10px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: bold;
  }

  &__text {
    margin-top: 15px;
    color: $text-extra-light;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
  }
}

.partners {
  text-align: center;

  &__title {
    margin: 40px 0 15px;
    color: $text-dark;
    font-size: 22px;
    font-weight: bold;
  }

  &__section {
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
  }

  &__avatar {
    position: relative;
    margin: 0 auto;
    width: 121px;
    height: 121px;
  }

  &__img {
    width: 121px;
    height: 121px;
    border-radius: 50%;
  }

  &__icon {
    position: absolute;
    width: 39px;
    height: 39px;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 50%;
    z-index: 5;

    &:before {
      position: absolute;
      display: block;
      top: 3px;
      left: 3px;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      content: '';
      z-index: 10;
    }

    &--television:before {
      background: $action-red;
    }

    &--flask:before {
      background: $bg-yellow;
    }

    &--cup:before {
      background: $bg-green;
    }

    &--plane:before {
      background: $bg-blue;
    }
  }

  &__logo-img {
    position: relative;
    top: 10px;
    text-align: center;
    z-index: 15;
  }

  &__name {
    margin: 20px 0 15px;
    color: $text-dark;
    font-size: 14px;
    font-weight: bold;
  }

  &__about {
    color: $text-light-dark;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto, Arial, sans-serif;
  }

  &__more {
    margin: 40px 0 20px;
  }

  &__button {
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid $action-red;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    color: $action-red;
    background: #fff;
  }
}

.ideas {
  &__item {
    width: 100%;
    height: 121px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  &__img {
    width: 100%;
    height: 121px;
    object-fit: cover;
    border-radius: 5px;
  }

  &__subtitle-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &__subtitle {
    position: relative;
    left: -50%;
    top: -50%;
    color:  #fff;
    font-size: 22px;
    font-weight: bold;
    z-index: 10;
  }
}

.search {
  text-align: center;

  &__title {
    color: $text-dark;
    font-size: 22px;
    font-weight: bold;
  }

  &__question {
    color: $text-dark;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
  }

  &__controls {
    text-align: center;
  }

  &__input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 18px;
    padding-left: 20px;
    color: $text-light;
    vertical-align: middle;
    font-family: Roboto, Arial, sans-serif;
    @include placeholder-color($text-light);
    box-sizing: border-box;
  }

  &__button {
    @extend .header__button;
    margin-bottom: 40px;
  }
}

.wrapper__footer {
  border-top: 4px solid $action-red;
  padding-bottom: 30px;
}

.menu {
  margin-top: 15px;
  text-align: center;

  &__title {
    margin-bottom: 10px;
    color: $text-dark;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }

  &__item {
    display: inline-block;
    padding: 0 10px 0 10px;
  }

  &__link {
    color: $text-light-dark;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
  }
}

.designed {
  margin-top: 20px;
  text-align: center;

  &__title {
    color: $text-design;
    font-size: 10px;
    font-weight: bold;
  }

  &__logo {
    width: 110px;
    height: 24px;
    text-align: center;
  }
}

@media (max-width: 959px) {

}