@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/ubuntu-regular-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff'),
  url('../fonts/ubuntu/ubuntu-regular-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuCondensed';
  src: url('../fonts/ubuntu_condensed/ubuntucondensed-regular-webfont.eot');
  src: url('../fonts/ubuntu_condensed/ubuntucondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu_condensed/ubuntucondensed-regular-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu_condensed/ubuntucondensed-regular-webfont.woff') format('woff'),
  url('../fonts/ubuntu_condensed/ubuntucondensed-regular-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu_condensed/ubuntucondensed-regular-webfont.svg#ubuntu_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}