body {
    font-family: Ubuntu, Arial, sans-serif;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.wrapper {
    width: 100%;
}

.content {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 37px 0 37px;
}

.links {
    float: right;
    padding-top: 15px;

    &__item {
        display: inline-block;
        margin-right: 3px;
        margin-left: 13px;
    }
}

.menu {
    height: 56px;
    background: $menu-background;
    font-size: 0;

    &__item {
        display: inline-block;
        width: 115px;
        border-right: 1px solid #000;
        text-align: center;
    }

    &__link {
        display: block;
        line-height: 56px;
        color: $menu-text;
        font-family: UbuntuCondensed, Arial, sans-serif;
        font-size: 14px;
        text-transform: uppercase;

        &:hover {
            background: $text-hover;
            color: $menu-text-hover;
        }
    }

    &__search {
        float: right;
        position: relative;
        width: 250px;
        height: 35px;
        margin: 11px 9px 0 0;
        border: 1px solid #181a1d;
        font-family: Arial, sans-serif;

        input {
            width: 100%;
            height: 100%;
            padding-left: 15px;
            background: $search-background;
            border: none;
            color: $menu-text;
            box-sizing: border-box;
            @include placeholder-color($search-placeholder);
        }

        &::after {
            display: block;
            position: absolute;
            top: 10px;
            right: 15px;
            width: 14px;
            height: 14px;
            background: url('../img/icons/search.png');
            content: '';
        }
    }
}

.carousel-wrapper {
    position: relative;
    margin-top: 40px;
    width: 1160px;
    height: 470px;

    &__brand-text {
        position: absolute;
        top: 233px;
        left: 36px;
        z-index: 10;
    }
}

.carousel {
    position: relative;
    overflow: hidden;

    &__list {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        float: left;
    }

    &__img {
        width: 1160px;
        height: 470px;
        object-fit: cover;
    }
}

.carousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 47%;
    z-index: 20;

    a {
        position: relative;
        text-decoration: none;
        display: inline-block;
        margin-right: 20px;
        width: 16px;
        height: 16px;
        background: #fff;

        &.active::before {
            position: absolute;
            display: block;
            top: 3px;
            left: 3px;
            width: 10px;
            height: 10px;
            background: #000;
            content: '';
        }
    }
}

.articles {
    margin-top: 40px;
    margin-bottom: 40px;
    counter-reset: serial;
}

.article {
    position: relative;
    display: inline-block;
    width: 33%;
    padding-left: 120px;
    box-sizing: border-box;

    &::before {
        position: absolute;
        top: -8px;
        left: 0;
        font-size: 90px;
        font-weight: bold;
        color: $article-number;
        counter-increment: serial;
        content: '0' counter(serial);
    }

    &__header {
        color: $article-header;
        margin: 15px 2px;
        font-size: 20px;
        font-weight: bold;
    }

    &__text {
        height: 60px;
        overflow: hidden;
        font-size: 13px;
        line-height: 20px;
        color: $article-text;
        font-family: Arial, sans-serif;
    }

    &__read-more {
        margin-top: 22px;

        &__link {
            font-size: 13px;
            color: $article-read-more;
            font-weight: bold;

            &::after {
                display: inline;
                padding-left: 10px;
                color: $text-hover;
                font-weight: bold;
                content: '\2192';
            }

            &:hover {
                color: $text-hover;

                &::after {
                    color: $article-read-more;
                }
            }
        }
    }
}

.wrapper-services {
    background-color: $dark-background;
}

.services {
    padding: 47px 0 60px;

    &__header {
        margin-bottom: 50px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
    }
}

.service {
    position: relative;
    width: 25%;
    float: left;
    box-sizing: border-box;

    &__link {
        &:hover::before {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 260px;
            height: 260px;
            background: url('../img/effects/blur_blue.png');
            content: '';
            z-index: 10;
        }

        &:hover::after {
            position: absolute;
            display: block;
            top: 90px;
            left: 110px;
            font-size: 80px;
            font-weight: 100;
            color: #fff;
            content: '+';
            z-index: 20;
        }
    }

    &__img {
        width: 260px;
        height: 260px;
        object-fit: cover;
        z-index: 5;
    }

    &__text {
        margin-top: 30px;
        padding-right: 40px;
        color:  #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        font-family: Arial, sans-serif;
    }
}

.wrapper-media {
    background: $media-background;
    padding-top: 65px;
}

.media {
    &__div {
        float: left;
        width: 50%;
        box-sizing: border-box;
    }

    &__header {
        margin-bottom: 40px;
        color: $media-header;
        font-size: 24px;
        font-weight: bold;
    }
}

.news {
    position: relative;
    margin-bottom: 30px;

    &__month {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15px;
        left: -15px;
        width: 40px;
        height: 40px;
        background: $text-hover;
        color:  #fff;
        font-size: 15px;
        font-weight: bold;
    }

    &__day {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 55px;
        left: -15px;
        width: 40px;
        height: 40px;
        background: $media-yellow;
        color: #2a2b2e;
        font-size: 18px;
        font-weight: bold;
    }

    &__logo {
        display: inline-block;
    }

    &__img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    &__body {
        display: inline-block;
        width: calc(100% - 160px);
        padding: 0 15px 0 30px;
        box-sizing: border-box;
        vertical-align: top;
    }

    &__header {
        color: $media-header;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            color: $text-hover;
        }
    }

    &__details {
        padding: 7px 0 25px;
        color: $media-details;
        font-size: 13px;
        font-family: Arial, sans-serif;

        &--link {
            color: $media-details-link;
            font-family: Arial, sans-serif;
        }
    }

    &__text {
        color: $media-text;
        font-family: Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
    }
}

.ui-accordion {

    &-header {
        position: relative;
        padding: 15px 60px !important;
        background: #fff;
        border: 1px solid $accordion-border;
        border-radius: 0;
        color: $media-header;
        font-size: 13px !important;
        font-weight: bold;
        text-transform: uppercase;

        &::before {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 46px;
            height: 46px;
            font-size: 22px;
            font-weight: 100;
            border-right: 2px solid $accordion-border;
            content: '+';
        }

        &-active {
            background: $accordion-selected;
            color: #fff;
            border: none;

            &::before {
                border-right: 2px solid $accordion-border-selected;
                content: '-';
            }
        }
    }

    &-content {
        color: $media-text;
        font-family: Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        border: none;
        background: inherit;
    }
}

.partners {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

    &__item {
        display: inline-block;
        margin-right: 48px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.wrapper-bottom {
    background: $dark-background;
}

.menu-bottom {
    padding: 50px 0;

    &__section {
        float: left;
        padding-right: 35px;
        width: 25%;
        box-sizing: border-box;

        &:last-child {
            padding-right: 0;
        }
    }

    &__header {
        padding: 30px 0;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__item {
        border-bottom: 1px solid $menu-bottom-text;
        line-height: 36px;

        &:last-child {
            border-bottom: none;
        }
    }

    &__link {
        color: $menu-bottom-text;
        font-family: Arial, sans-serif;

        &:hover {
            color: $text-hover;
        }
    }
}

.wrapper-footer {
    background: $footer-background;
}

footer {
    padding: 20px 0;
    font-size: 12px;
    line-height: 20px;
    font-family: Arial, sans-serif;
}

.info {
    float: left;
    position: relative;
    margin-left: 10px;
    padding-right: 30px;
    padding-left: 25px;
    color: $footer-text;

    &::before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        vertical-align: middle;
    }

    &__location::before {
        width: 16px;
        height: 16px;
        content: url('../img/icons/location.png');
    }

    &__phone::before {
        width: 12px;
        height: 16px;
        content: url('../img/icons/phone.png');
    }

    &__email::before {
        width: 16px;
        height: 12px;
        content: url('../img/icons/email.png');
    }
}

.copyright {
    float: right;
    color: $footer-text;
}