.uppercase {
    text-transform: uppercase;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}

header {
    margin: 40px 0 40px;
}

.links {
    float: right;
}

.menu {
    height: 56px;
    background: $menu-background;

    &__item {
        display: inline-block;
        width: 115px;
        text-align: center;
    }

    &__link {
        display: block;
        line-height: 56px;
        color: $menu-text;

        &:hover {
            background: $menu-background-hover;
            color: $menu-text-hover;
        }
    }

    &__search {
        float: right;
        position: relative;
        width: 250px;
        height: 40px;
        background: $search-background;
        border: 1px solid #181a1d;
        color: $search-text;

        &::after {
            display: block;
            position: absolute;
            top: 5px;
            right: 15px;
            width: 14px;
            height: 14px;
            background: url('../img/icons/search.png');
            content: '';
        }
    }
}



.carousel-wrapper {
    position: relative;
    margin-top: 40px;
    width: 1160px;
    height: 470px;

    &__brand-text {
        position: absolute;
        top: 233px;
        left: 36px;
    }
}

.carousel {
    position: relative;
    overflow: hidden;

    &__list {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        float: left;
    }
}

.carousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.carousel-pagination a {
    text-decoration: none;
    display: inline-block;
    margin-right: 2px;
    padding: 3px;
    width: 15px;
    height: 15px;
    background: #fff;

}

.carousel-pagination a.active {
    background: #000;
}

.articles {
    margin: 40px 0;
    counter-reset: serial;
}

.article {
    position: relative;
    box-sizing: border-box;
    width: 33%;

    &::before {
        position: absolute;
        top: 10px;
        left: -40px;
        font-size: 90px;
        color: #f00;
        counter-increment: serial;
        content: '0' counter(serial);
    }

    &__header {
        color: $article-header;
        margin: 5px 2px;
        font-size: 20px;
    }

    &__text {
        font-size: 13px;
        color: $article-text
    }

    &__read-more {
        color: $article-read-more;

        &::after {
            display: inline;
            color: $article-read-more-hover;
            content: '\u129050';

            &:hover {
                color: $article-read-more;
            }
        }

        &:hover {
            color: $article-read-more-hover;
        }
    }
}










footer {
    padding: 20px 0;
    font-size: 12px;
    line-height: 20px;
}

.info {
    float: left;
    position: relative;

    &::before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        content: '';
    }

    &__location::before {
        width: 12px;
        height: 16px;
        background: url('../img/icons/location.png');
    }

    &__phone::before {
        width: 12px;
        height: 16px;
        background: url('../img/icons/phone.png');
    }

    &__email::before {
        width: 16px;
        height: 12px;
        background: url('../img/icons/email.png');
    }
}

.copyright {
    float: right;
}