$menu-background: #2a2d32;
$menu-background-hover: #248cec;
$menu-text: #fff;
$menu-text-hover: #f4b60d;
$search-background: rgba(255, 255, 255, 0.05);
$search-text: #fff;
$article-header: #2a2b2e;
$article-text: #8a8a8a;
$article-read-more: $article-header;
$article-read-more-hover: #248cec;