$menu-background: #2a2d32;
$text-hover: #248cec;
$menu-text: #fff;
$menu-text-hover: #f4b60d;
$search-background: rgba(255, 255, 255, 0.05);
$search-placeholder: #555;
$article-number: #e9e9ea;
$article-header: #2a2b2e;
$article-text: #8a8a8a;
$article-read-more: #2a2b2e;
$dark-background: #2a2d32;
$media-background: #f7f7f7;
$media-header: #2a2d32;
$media-yellow: #f4b60d;
$media-details: #9d9d9d;
$media-details-link: #0187f4;
$media-text: #8a8a8a;
$menu-bottom-text: rgba(115, 115, 115, 0.9);
$footer-background: rgba(0, 0, 0, 0.5);